<div class="container">
  <form (submit) = "onSubmit()">
    <div class="form-group">
      <label>New Todo</label>
      <input type="text" class="form-control" [(ngModel)]="text" name="text">
      <input type="submit" value="add" class="btn btn-primary">
    </div>
  </form>
</div>


<div class="container">
  <ul *ngFor="let item of todos" class="list-group">
    <li class="list-group-item">{{item.text}} <button (click) = "deleteClick()" class="btn btn-xs btn-danger">X</button></li>
  </ul>
</div>