<ngx-loading [show]="loading"></ngx-loading>
<div class="container">
  <form (submit) = "onSubmit()">
    <div class="form-group">
      <label>New Todo</label>
      <input type="text" class="form-control" [(ngModel)]="text" name="text">
      <button class="btn btn-primary">add</button>
    </div>
  </form>
</div>


<div class="container">
  <ul *ngFor="let item of todos" class="list-group">
    <li class="list-group-item">{{item.text}} <button id="{{item._id}}" (click) = "deleteClick($event)" class="btn btn-xs btn-danger btn-lock" style="float:right; color: aliceblue">X</button></li>
  </ul>
</div>
